%h1 Sign up
= form_for @user do |f|
  = render 'shared/error_messages'
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :password
    %br
    = f.text_field :password, :type => "password"
  .field
    = f.label :password_confirmation, "Confirmation"
    %br
    = f.text_field :password_confirmation, :type => "password"
  .actions
    = f.submit "Sign up"
    